<div class="wrapper ">
  <div class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        CT
      </a>
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li style="text-align: center; color:#111;">
          <a href="/home" style="text-transform: capitalize;">
            {{!-- <i class="now-ui-icons design_app"></i> --}}
            <p>Dashboard</p>
          </a>
        </li>
        <li class="active " style="text-align: center; color:#111;">
          <a href="/cpanel/product/" style="text-transform: capitalize;">
            {{!-- <i class="now-ui-icons design_bullet-list-67"></i> --}}
            <p>Table List</p>
          </a>
        </li>
        <li style="text-align: center; color:#111;">
          <a href="/detail" style="text-transform: capitalize;">
            {{!-- <i class="now-ui-icons text_caps-small"></i> --}}
            <p>Detail</p>
          </a>
        </li>
        <li style="text-align: center; color:#111;">
          <a href="/cpanel/product/new" style="text-transform: capitalize;">
            {{!-- <i class="now-ui-icons text_caps-small"></i> --}}
            <p>Form</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="#pablo" style="text-transform: capitalize;">Table List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Simple Table</h4>
              <a href="/cpanel/product/new" class="text-white btn btn-primary">Insert New</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Name
                    </th>
                    <th>
                      Price
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th class="text-right">
                      Image
                    </th>
                    <th class="text-right">
                      Action
                    </th>
                  </thead>
                  <tbody>
                    {{#each products}}
                    <tr>
                      <td>
                        {{this.name}}
                      </td>
                      <td>
                        {{this.price}}
                      </td>
                      <td>
                        {{this.quantity}}
                      </td>
                      <td class="text-right">
                        <img src="{{this.image}}" width="200" height="200" />

                      </td>
                      <td class="text-right">
                        <a href="/cpanel/product/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                        <a onclick="confirmDelete('{{this._id}}');" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header">
              <h4 class="card-title"> Table on Plain Background</h4>
              <p class="category"> Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th class="text-right">
                      Salary
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Dakota Rice
                      </td>
                      <td>
                        Niger
                      </td>
                      <td>
                        Oud-Turnhout
                      </td>
                      <td class="text-right">
                        $36,738
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Minerva Hooper
                      </td>
                      <td>
                        Curaçao
                      </td>
                      <td>
                        Sinaai-Waas
                      </td>
                      <td class="text-right">
                        $23,789
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Sage Rodriguez
                      </td>
                      <td>
                        Netherlands
                      </td>
                      <td>
                        Baileux
                      </td>
                      <td class="text-right">
                        $56,142
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Philip Chaney
                      </td>
                      <td>
                        Korea, South
                      </td>
                      <td>
                        Overland Park
                      </td>
                      <td class="text-right">
                        $38,735
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Doris Greene
                      </td>
                      <td>
                        Malawi
                      </td>
                      <td>
                        Feldkirchen in Kärnten
                      </td>
                      <td class="text-right">
                        $63,542
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Mason Porter
                      </td>
                      <td>
                        Chile
                      </td>
                      <td>
                        Gloucester
                      </td>
                      <td class="text-right">
                        $78,615
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Jon Porter
                      </td>
                      <td>
                        Portugal
                      </td>
                      <td>
                        Gloucester
                      </td>
                      <td class="text-right">
                        $98,615
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const fetchAPI = async (url, option) => {
    const res = await fetch(url, option);
    return res.json();
  }

  const deleteProduct = async (id) => {
    const url = `/cpanel/product/${id}/delete`;
    const option = {
      method: 'get',
      headers: {'Content-Type': 'application/json'}
    }
    try{
      const result= await fetchAPI(url, option);
      console.log('Delete result: ', result);
      if(result.status){
        window.location.reload();

      }else{
        swal('Xóa Thất bại!',{
          icon: 'error',
        });
      }
    }catch(e){
      console.log('Delete error: ', e);
    }
  }

  const confirmDelete = (id) => {
    swal({
      title: "Xác nhận xóa?",
      text: "Bạn có chắc muốn xóa sản phẩm này không?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          deleteProduct(id);
        }
      });
  }
</script>